<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">PantryApp</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="login" class="nav-link">Browse Pantry</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link">View Cart </a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link">Register </a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link">Support </a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link">Give Feedback </a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
